#mySidenav{
    background-color: black;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
   color: skyblue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.dropdown-container {
    display: none;
    background-color: #292F33;
    padding-left: 2px;
}
.dropdown-btn:hover{
    color:skyblue;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* beranda admin */
/* kotak 1 */
#kotak1 {
    position: absolute;
    background-color: rgb(29, 29, 29);
    margin-top:30px;
    left:450px;
    font-family:sans-serif;
    font-size: 120%;
    padding-left: 20px;
    padding-bottom:10px;
    padding-top:50px;
    width: 400px;
    
    color: white;   
}

#kotak1:hover{
    background-color: rgb(19, 19, 19);
    cursor: pointer;
}

#logokotak1{
    width: 60%;
    margin-left: 100px;
    }

/* end  */

/* kotak 2 */
#kotak2 {
    position: absolute;
    background-color: rgb(15, 19, 32);
    margin-top:30px;
    left:450px;
    font-family:sans-serif;
    font-size: 120%;
    padding-left: 20px;
    padding-bottom:10px;
    padding-top:50px;
    width: 400px;
    
    color: white;   
}
#kotak2:hover{
    background-color: rgb(28, 42, 88);
    cursor: pointer;

}

#logokotak2{
width: 60%;
margin-left: 60px;
}

/* end */

/* kotak3 */
#kotak3 {
    position: absolute;
    background-color: rgb(32, 15, 15);
    margin-top:-10px;
    left:450px;
    font-family:sans-serif;
    font-size: 120%;
    padding-left: 20px;

    padding-top:50px;
    width: 400px;
    
    color: white;   

}

#kotak3:hover{
    background-color: rgb(98, 39, 39);
    cursor: pointer;
}

#logokotak3{
    width: 60%;
    margin-left: 60px;
    }

/* end */

/* kotak 4 */
#kotak4 {
    position: absolute;
    background-color: rgb(15, 32, 28);
    margin-top:-10px;
    left:450px;
    font-family:sans-serif;
    font-size: 120%;
    padding-left: 20px;

    padding-top:50px;
    width: 400px;
    
    color: white;   
    
}

#kotak4:hover{
    background-color: rgb(40, 87, 76);
    cursor: pointer;
}

#logokotak4{
    width: 60%;
    margin-left: 50px;
    }

/* end */

#ket{
    font-size: 95%;
    font-family: sans-serif;
}
#logodlm{
 width: 70%;
 margin-left: 150px;

}
.sejajar {
	display: flex;
    flex-direction: row;
    
}

.samping {
    flex-direction: column;

}

#haloadmin{
    margin-top:290px;
    margin-left:70px;
    font-family: sans-serif;
    font-size: 240%;
    text-align: center;
    padding: 10px;
    border: 3px solid #292F33;
    border-radius: 12px;
}

/* end beranda */